<div class="col-md-6 col-7 content_section">
   <div class="content_box">
      <div class="content_box_inner">
         <div>
            <h3>
               Tentang Kami | Our Value
            </h3>
            <p>
               <b>Happiness</b> is a key for everything. Everyone can be happy, and happiness is a choice. Be happy not
               because everything is perfect. But we choose to focus on the perfect moments and everything will
               perfect. We make a living by what we get, but we make a LIFE by what we give. We believe everyone should
               be shared more to others for make a better life.
               <br><br>
               <b>Kebahagiaan</b> adalah kunci untuk segalanya. Semua orang bisa bahagia, dan kebahagiaan adalah sebuah
               pilihan. Berbahagialah bukan karena semuanya sempurna. Tetapi kami memilih untuk fokus pada momen-momen
               yang sempurna dan semua akan menjadi sempurna. Kita mencari nafkah dengan apa yang kita dapatkan, tetapi
               kita membuat KEHIDUPAN dengan apa yang kita berikan. Kami percaya setiap orang harus berbagi lebih
               banyak kepada orang lain untuk membuat kehidupan yang lebih baik.
            </p>
            <!--=================== counter start====================-->
            <div class="pt50">
               <div class="row justify-content-center">
                  <div class="col-12 col-md-4">
                     <div class="counter_box">
                        <div class="divider"></div>
                        <span class="counter">...</span>
                        <h5>Members</h5>
                     </div>
                  </div>
                  <div class="col-12 col-md-4">
                     <div class="counter_box">
                        <div class="divider"></div>
                        <span class="counter">...</span>
                        <h5>Class</h5>
                     </div>
                  </div>
                  <div class="col-12 col-md-4">
                     <div class="counter_box">
                        <div class="divider"></div>
                        <span class="counter">...</span>
                        <h5>Event Complete</h5>
                     </div>
                  </div>
               </div>
            </div>
            <!--=================== counter end====================-->
         </div>
         <!--===================testimonial start====================-->
         <div class="testimonial_carousel mt50">

            <div class="testimonial_box">
               <p>
                  People will forget what you said, people will forget what you did, but people will never forget how
                  you made them feel. Life is once, time can not turned back, let's be and make a impactful to others.

                  <hr>
                  We Make A Great Things Here
               </p>
               <div class="testimonial_author">
                  <img src="https://media.licdn.com/dms/image/C4E03AQHo9xgsI4Lg_g/profile-displayphoto-shrink_200_200/0?e=1546473600&v=beta&t=2o0qQ0PWD-lFmF75iLgxn2rpfK6o5KnLC1l_6JfJzjI"
                     alt="author">
                  <h5>Julius Gonawan</h5>
                  <p>Part Of - <span>Fortunate Youth</span></p>
               </div>
            </div>


         </div>
         <!--===================testimonial end====================-->
      </div>
   </div>
</div>
<div class="col-md-6 col-5 img_section" style="background-image: url('assets/img/bg/service_bg.png');"></div>