<meta charset="UTF-8">
<meta name="description" content="ForYou - Fortunate Youth | We're looking for a member who want to join our FORYOU (FORtunate YOUth) Community with have a value to share together each other and make a better impact to society.">
<meta name="keywords" content="ForYou - Fortunate Youth , ForYou - Fortunate Youth">
<meta name="author" content="Pharaohlab">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- ========== Title ========== -->
<title> ForYou - Fortunate Youth</title>
<!-- ========== Favicon Ico ========== -->
<!--<link rel="icon" href="fav.ico">-->
<!-- ========== STYLESHEETS ========== -->
<!-- Bootstrap CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts Icon CSS -->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/et-line.css" rel="stylesheet">
<link href="assets/css/ionicons.min.css" rel="stylesheet">
<!-- Carousel CSS -->
<link href="assets/css/slick.css" rel="stylesheet">
<!-- Magnific-popup -->
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="assets/css/animate.min.css">
<!-- Custom styles for this template -->
<link href="assets/css/main.css" rel="stylesheet">