<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
   <div>
      <!--=================== image card start here  (has two section left and right )====================-->
      <div class="img_card">
         <div class="row justify-content-center">
            <div class="col-md-6 col-7 content_section">
               <div class="content_box">
                  <div class="content_box_inner">
                     <div class="row justify-content-center">
                        <!--=================== services boxes start here  ====================-->
                        <div class="col-md-6 col-12">
                           <div class="img_box_one text-left">
                              <img src="assets/img/icons/flask.png" alt="services icon">
                              <div class="content">
                                 <h5>
                                    ForYou Programming Class
                                 </h5>
                                 <p>
                                    Coming Soon...
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-12">
                           <div class="img_box_one text-left">
                              <img src="assets/img/icons/flask.png" alt="services icon">
                              <div class="content">
                                 <h5>
                                    ForYou Stream on The Air
                                 </h5>
                                 <p>
                                    Coming Soon...
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-12">
                           <div class="img_box_one text-left">
                              <img src="assets/img/icons/flask.png" alt="services icon">
                              <div class="content">
                                 <h5>
                                    ForYou Production
                                 </h5>
                                 <p>
                                    Disini kalian bakal belajar banyak hal tentang production. Mulai dari cara setting
                                    sound system, kamera, switcher, recording, lighting, dan masih banyak lainnya. Saat
                                    ini
                                    tim berangotakan kurang lebih 20 orang. Ayo Gabung...
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-12">
                           <div class="img_box_one text-left">
                              <img src="assets/img/icons/flask.png" alt="services icon">
                              <div class="content">
                                 <h5>
                                    ForYou Cooking Class
                                 </h5>
                                 <p>
                                    Coming Soon...
                                 </p>
                              </div>
                           </div>
                        </div>
                        <!--=================== services boxes end here  ====================-->
                     </div>
                     <hr>
                     <p>Ayo Gabung, Jika Kalian Merasa Ingin Belajar Ataupun Sharing Sesama Anggota...</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-5 img_section" style="background-image: url('assets/img/bg/service_bg.png');"></div>
         </div>
      </div>
      <!--=================== image card end here ====================-->
   </div>
</div>